.danger{
    color: rgb(255,93,132)6;
}
.warninng{
    color: rgb(254,211,58);
}
.success{
    color: rgb(60,213,97);
}


.blue_light{
    color: #0490FE;
}
.color_primary_dark{
    color: #384364;
}

$color_primary: #6B5CA8;
$lightPurple: #7E67D6;
$white: #FFFFFF;
$dark-grey: #888EA2;

.bg_dark{
    background-color: #FAFBFF ;
}
