@font-face {
  font-family: 'Tajawal';
  src: local('Tajawal'), url(./fonts/Tajawal-Regular.ttf) format('truetype');
}
*{
  font-family: Tajawal ;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


